.container{
  position: relative;
}

ul{
  height: 50px;      
  overflow: hidden;  
  overflow-y: scroll; 
  background: 'red';
  display: none;
}

.show{
    display: block !important;
}