.drop-down {
  color: rgb(255, 255, 255);
	font-weight: bold;
  width: 250px;
  margin: auto;
  text-align: center;
  border: 2px;
  border-radius: 50px;
  align-self: center;
  animation: blinkingBackground 1s infinite;
  
}
@keyframes blinkingBackground {
  0%		{ background-color: #09abdd;}
  25%		{ background-color: #029afffa;}
  50%		{ background-color: #1056c0;}
  75%		{ background-color: #254878;}
  100%	{ background-color: #04a1d5;}
  
}

.priorityTitle {
  font-size: 20px;
}