

.clock {
  /*font-style: italic;*/
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #c8c8c8;
  margin-left: 25%;
  margin-right: 25%;
}

/*
div.date {
  text-align: center;
}
h5 {
  align-items: center;
}*/

.date-day {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin: 0px;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #c8c8c8;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10px;
}


.date-full-date {  
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin: 0px;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #c8c8c8;
  margin-left: 25%;
  margin-right: 25%;
}
